body {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  /*padding-top: 25%;*/
  text-align: center;
}

header, footer {
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: azure;
  color: rgb(24, 19, 19);
  z-index: 999;
  margin-left: -8px;
}

header {
  top: 0;
  height: 125px;
  border-bottom: solid black 1px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;

}

footer {
  padding-top: 4px;
  bottom: 0;
  height: 2.5%;
  font-size: smaller;
  border-top: solid black 1px;
}